.body{
    margin: 0;
    padding: 0;
    font-family: 'Poiret One'
}

h1 {
  padding-top: 10px;
  max-width: 100%;
  max-height: 14%;
  margin: auto;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  padding-bottom: -2px;
  margin: 0;
  line-height: 2;
  position: relative;

}

.ten h1 {
  font-size:35px; font-weight:500; text-transform:uppercase;
}
.ten h1:before {
    background-color: #07a50f;
    border-radius: 0.25rem;
    content: '';
    display: block;
    height: 0.25rem;
    width: 102px;
    margin-bottom: 0.10rem;
}
.ten p{
  color:#000000;
    font-size: 30px;
    margin-block-start: 5px;
    margin-block-end: 5px;
    font-size: 20px;
    font-weight: bold;
}
.twenty{
  border: 1px solid #07a50f ;
  background-color: #07a50f ;
  padding: 10px;
  text-align: center;
}
.twenty h1 {
  font-size:25px; font-weight:500; text-transform:uppercase;
  text-align: right;
}
.twenty h1:after {
    background-color: #ffffff;
    border-radius: 0.25rem;
    content: '';
    display: block;
    height: 0.25rem;
    width: 102px;
    margin-bottom: 0.10rem;
    position: right;
}
.twenty p{
  text-align: center;
  color:#000000;
  font-size: 30px;
  margin-block-start: 5px;
  margin-block-end: 5px;
  font-size: 20px;
  font-weight: bold;
  
}

/*
.image-slider {
width: 600px;
height: 400px;
position: relative;
margin: 0 auto;
}

.navigation .prev {
  position: absolute;
  z-index: 10;
  font-size: 25px;
  top: 40%;
  left: 10px;
  font-weight: 700;
}
.navigation .next {
  right: 10px;
  position: absolute;
  font-size: 25px;
  z-index: 10;
  top: 40%;
}
.navigation .nav-btn {
  background: rgba(255, 255, 255, 0.55);
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
.navigation .nav-btn:hover {
  background: white;
}*/

 .banner{
    width: 100%;
    height: 100vh;
    background-color: white;

}

.navbar{
    max-width: 100%;
    max-height: 14%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    font-size: 20px;
    font-family:"Poiret One", "PT Sans", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
.logo{
    max-width: 5.5em;
    cursor: pointer;
    object-fit: contain;
 }
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    text-align: right;
 }
.navbar ul li a{
    text-decoration: none;   /*work on transitions, might use modals, love the idea of transition delay here*/
    color: #fff;
    text-transform: uppercase;
 }
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #07a50f;
    position: absolute;
    left: 0; 
    bottom: -10px;
    transition: 0.4s ease-in-out; 
    border-radius: 25px;
 }
.navbar ul li:hover::after{
    width: 100%;
 }
/*-.content{
  width: 100%;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  text-align: left;
  padding-left: 10px;
}
.content h1{
  margin: 0;
  line-height: 2;
}
.content p{
    color:#000000;
    font-size: 30px;
    margin-block-start: 5px;
    margin-block-end: 5px;
    font-size: 20px;
    font-weight: bold;
}*/

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 10px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #07a50f;
    background: transparent;
    color: #000000;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #07a50f;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s ease-in-out;
}

button:hover span {
   width: 100%;
}
button:hover {
    border: 2px solid #07a50f;
} 
/*--
@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

div {
  transition: --num 5s;
  counter-set: num var(--num);      Animation for number counter!!!!
  font: 800 40px system-ui;
}
div::after {
  content: counter(num);
}
div:hover {
  --num: 100;
}

body {
  margin: 2rem;
}---*/


/*<!DOCTYPE html>
<html>
<head>
  <style>
    .slider {
      max-width: 500px;
      position: relative;
      margin: auto;
    }
    .slider img {
      width: 100%;
      height: auto;
    }
    .slider .slide {
      display: none;
    }
    .slider .slide.active {
      display: block;
    }
  </style>
</head>
<body>
  <div class="slider">
    <div class="slide active">
      <img src="image1.jpg" alt="Image 1">
    </div>
    <div class="slide">
      <img src="image2.jpg" alt="Image 2">
    </div>
    <div class="slide">
      <img src="image3.jpg" alt="Image 3">
    </div>
  </div>

  <script>
    var slides = document.querySelectorAll('.slider .slide');
    var currentSlide = 0;
    var slideInterval = setInterval(nextSlide, 2000); // Automatic slide change interval (in milliseconds)

    function nextSlide() {
      slides[currentSlide].className = 'slide';
      currentSlide = (currentSlide + 1) % slides.length;
      slides[currentSlide].className = 'slide active';
    }

    function prevSlide() {
      slides[currentSlide].className = 'slide';
      currentSlide = (currentSlide - 1 + slides.length) % slides.length;
      slides[currentSlide].className = 'slide active';
    }

    // Uncomment the following line to enable manual navigation with buttons
    // document.getElementById('prevBtn').addEventListener('click', prevSlide);
    // document.getElementById('nextBtn').addEventListener('click', nextSlide);
  </script>
</body>
</html>*/
